body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right top, #6bd193, #3fd6c3, #45d7e8, #79d4fd, #adcfff, #cbcbff, #e8c7f7, #ffc4e9, #ffc0d1, #ffc6a5, #ffdd77, #fbfb5f);
    color: rgb(68, 63, 63);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
}

img {
    max-width: 80%;
    height: auto;
    border: 2px solid white;
}

/* NAVIGATION MENUS */

.top-nav {
    font-size: large;
    display: flex;
    border: none;
    background-color: rgb(247, 247, 247, .5);
    padding: 1.5em;
    justify-content: space-between;
    align-items: center;
}

.top-nav a {
    text-decoration: none;
    color: black;
    border: none;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1em;
}

.top-nav-contact {
    display: flex;
}

/* MAIN CONTENT */
/* MAIN CONTENT */

.container {
    display: flex;
    /* align-items: flex-start; Makes the height differ */
    gap: 50px;
    margin: 0;
    flex: 1;
}

.container > * { /* Makes columns even width */
    /* flex: 1; */
}

/* L CONTENT */
/* L CONTENT */

.left {
    padding: 1rem;
    width: 70%;
    background-color: rgba(252, 249, 249, 0.4);
}

/* R CONTENT */
/* R CONTENT */
.right-container {
    display: flex;
}

.right {
    margin-right: 3rem;
    padding: 1rem;
    background-color: rgba(252, 249, 249, 0.4);
}

a {
    color: rgb(214, 22, 166);
    border-bottom: 1px solid;
}

.bottom-nav {
    display: flex;
    background-color: rgb(247, 247, 247, .5);
    color: black;
    padding: 16px;
    align-items: center;
    justify-content: center;
}
